@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;600&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #30302f;
}

/* Heading style rules */

h1 {
    font-family: prompt, sans-serif;
    font-weight: 600;
    color: #30302f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-family: prompt, sans-serif;
    font-weight: 500;
    color: #30302f;
    text-transform: uppercase;
}

/* logo style rules */

#logo {
    text-align: center;
    font-size: 250%;
    letter-spacing: 3px;
}

/* navigation style rules */

#nav {
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
}

#nav li {
    display: inline-block
}

#nav a {
    text-decoration: none;
    color: #30302f;
    text-transform: uppercase;
    letter-spacing: 3px;
}




