@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;600&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    color: #30302f;
}

/* Heading style rules */

h1 {
    font-family: prompt, sans-serif;
    font-weight: 600;
    color: #30302f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-family: prompt, sans-serif;
    font-weight: 500;
    color: #30302f;
    text-transform: uppercase;
}

/* logo style rules */

#logo {
    text-align: center;
    font-size: 250%;
    letter-spacing: 3px;
}

/* navigation style rules */

#nav {
    text-align: center;
    font-size: 120%;
    font-weight: 300;
    letter-spacing: 3px;
}

#nav li {
    display: inline-block
}

#nav a {
    text-decoration: none;
    color: #30302f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#nav a:hover {
    color: #9cb466;
    font-weight: 500;
}

/* hero image for Home, About and Contact page */

#hero-image-home {
    width: 100%;
    height: 600px;
    background: url(../images/hero-image-home.jpg) center;
}

#hero-image-about {
    width: 100%;
    height: 600px;
    background: url(../images/hero-image-about.jpg) center;
}

#hero-image-contact {
    width: 100%;
    height: 600px;
    background: url(../images/hero-image-contact.jpg) center;
}

/* Walks section on Home page */

#walks-top {
    height: 300px;
    width: 100%;
}

#walks-bottom {
    height: 300px;
    width: 100%;
}

/* Walks section on Home page (outer divs) */

#left-walk-top {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: left;
    background: url(../images/walks-background-1.jpg) center;
    border-radius: 25px;
}

#right-walk-top {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: right;
    background: url(../images/walks-background-2.jpg) center;
    border-radius: 25px;
}

#left-walk-bottom {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: left;
    background: url(../images/walks-background-3.jpg) center;
    border-radius: 25px;
}

#right-walk-bottom {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: right;
    background: url(../images/walks-background-4.jpg) center;
    border-radius: 25px;
}

/* Walks section on home page (inner div overlay) */

#left-walk-top-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

#right-walk-top-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

#left-walk-bottom-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

#right-walk-bottom-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

/*walks section contents */

.walks-content h2 {
    text-align: center;
    font-family: prompt, sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: white;
    text-transform: uppercase;
}

.walks-content h3 {
    text-align: center;
    font-family: prompt, sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

.walks-content p {
    text-align: center;
    color: white;
}

.walks-content a {
    text-decoration: none;
}

.walks-content h2:hover {
    color: #9cb466;
    font-weight: 500;
}

/* about section on About page */

#about-top {
    height: 300px;
    width: 100%;
}

#about-bottom {
    height: 300px;
    width: 100%;
}

/* about section on About page (outer divs) */

#left-about-top {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: left;
    background: url(../images/walks-background-1.jpg) center;
    border-radius: 25px;
}

#right-about-top {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: right;
    background: url(../images/walks-background-2.jpg) center;
    border-radius: 25px;
}

#left-about-bottom {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: left;
    background: url(../images/walks-background-3.jpg) center;
    border-radius: 25px;
}

#right-about-bottom {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 260px;
    float: right;
    background: url(../images/walks-background-4.jpg) center;
    border-radius: 25px;
}


/* about section on About page (inner div overlay) */

#left-about-top-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

#right-about-top-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

#left-about-bottom-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}

#right-about-bottom-overlay {
    width: 85%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background: rgba(33, 33, 33, 0.70);
    border-radius: 25px;
   
}


/*about section contents */

.about-content h2 {
    text-align: center;
    font-family: prompt, sans-serif;
    font-weight: 500;
    font-size: 200%;
    color: white;
    text-transform: uppercase;
}

.about-content h3 {
    text-align: center;
    font-family: prompt, sans-serif;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
}

.about-content p {
    text-align: center;
    color: white;
}

.about-content a {
    text-decoration: none;
}

.about-content h2:hover {
    color: #9cb466;
    font-weight: 500;
}


/* footer style rules */

footer {
    height: 100px;
    width: 100%;
    background-color: #30302f;

}

footer ul {
    text-align: center;
   
}

footer li {
    display: inline;
    font-size: 250%;
    margin-right: 5%;
    margin-left: 5%; 
}

footer i {
    color: #9cb466;
    padding-top: 25px;
}

footer i:hover {
    color: white;
}

/* Media Queries */


/* Change size and content of hero images when viewport shrinks */

/* For screen sizes from 950px wide and below */
@media screen and (max-width: 950px) {
    
    #hero-image-home {

        width: 100%;
        height: 600px;
        background: url(../images/hero-image-home-950px.jpg) center;
    }

    #hero-image-about {

        width: 100%;
        height: 600px;
        background: url(../images/hero-image-about-950px.jpg) center;
    }

    #hero-image-contact  {

        width: 100%;
        height: 600px;
        background: url(../images/hero-image-contact-950px.jpg) center;

    }



    }
    







